/*

Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/

/* General settings */
div.selector, 
div.selector span, 
div.checker span, 
div.radio span, 
div.uploader, 
div.uploader span.action, 
div.button, div.button span {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}
div.selector, 
div.checker, 
div.button, 
div.radio, 
div.uploader {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	/* Keeping this as :focus to remove browser styles */
}
	div.selector:focus, 
	div.checker:focus, 
	div.button:focus, 
	div.radio:focus, 
	div.uploader:focus {
		outline: 0;
	}
div.selector, 
div.selector *, 
div.radio, 
div.radio *, 
div.checker, 
div.checker * {
	margin: -1px 5px 0 0;
	padding: 0;
} 
div.uploader, 
div.uploader *, 
div.button, 
div.button * {
	margin: 0;
	padding: 0;
}

/* Uploader */
div.uploader {
	background-image: none;
	background-color: #f6f6f6;
	height: 40px;
	width: 100%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 99;
	box-shadow: inset 0 1px 2px #ccc;
	border-collapse: separate;
	border: 1px solid #ddd;
	border-radius: 3px;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
	div.uploader span.action {
		background-image: none;
		background-color: #515862;
		height: 38px;
		line-height: 40px;
		width: 120px;
		text-align: center;
		float: right;
		display: inline;
		overflow: hidden;
		cursor: pointer;
		border: 1px solid #515862;
		border-left: solid 1px #bbbbbb;
		border-collapse: separate;
		color: #fff;

		-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		-moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		-o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
	div.uploader span.filename {
		text-overflow: ellipsis;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		float: left;
		cursor: default;
		height: 40px;
		margin: 0 0 2px 2px;
		line-height: 42px;
		width: 150px;
		padding: 0 10px;
	}
	div.uploader input {
		opacity: 0;
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		border: none;
		background: none;
		position: absolute;
		top: -10px;
		right: 0;
		float: right;
		cursor: pointer;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
	div.uploader.active span.action {
		background-image: none;
		color: #fff;
	}
	div.uploader.hover {
		background-color: #fff;
	} 
	div.uploader.focus {
			outline: 0;
			box-shadow: 0 0 8px #4aa9fe;
			border-collapse: separate;
			background-color: #fff;

			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
	}
		div.uploader.hover span.action, 
		div.uploader.focus span.action {
			background-color: #767c85;
			border-color: #767c85;
			color: #fff;

			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
		div.uploader.hover.active span.action, 
		div.uploader.focus.active span.action {
			background-image: none;
		}
	div.uploader.disabled, 
	div.uploader.disabled.active {
			background-image: none;
	}
		div.uploader.disabled span.action, 
		div.uploader.disabled.active span.action {
			background-image: none;
		}

/* Uploader */
div.uploader span.action {
	font-size: 18px;
	font-weight: 400;
}
div.uploader span.filename {
	color: #777;
	font-size: 18px;
	font-weight: 400;
}
div.uploader.disabled span.action, 
div.uploader.disabled.active span.action {}
div.uploader.disabled span.filename, 
div.uploader.disabled.active span.filename {
	border-color: #ddd;
}

input.uniform-input, 
input.uniform-input:focus {
	background-color: #fff;
}
/* Uploader END */

/* Select */
div.selector {
	background: none;
	width: 100% !important;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-collapse: collapse;
	background-color: #f2f2f2;
	line-height: 40px;
	height: 40px;
	text-indent: 5px;
	padding: 0;
	position: relative;
	overflow: hidden;

	-webkit-transition: border 0.3s ease-out;
	-moz-transition: border 0.3s ease-out;
	-o-transition: border 0.3s ease-out;
	transition: border 0.3s ease-out;
	
	-webkit-transition: box-shadow 0.3s ease-out;
	-moz-transition: box-shadow 0.3s ease-out;
	-o-transition: box-shadow 0.3s ease-out;
	transition: box-shadow 0.3s ease-out;

}
	div.selector span {
		text-overflow: ellipsis;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		background-position: right 7px;
		height: 42px;
		line-height: 40px;
		padding-right: 8%;
		cursor: pointer;
		width: 92% !important;
		display: block;
		font-size: 18px !important;

		-webkit-transition: background-color 0.3s ease-out;
		-moz-transition: background-color 0.3s ease-out;
		-o-transition: background-color 0.3s ease-out;
		transition: background-color 0.3s ease-out;
	}
	div.selector select {
		opacity: 0;
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		border: none;
		background: none;
		position: absolute;
		height: 40px;
		top: -2px;
		left: 0px;
		width: 100%;
	}
	div.selector.active {}
		div.selector.active span {
			background-position: right -19px;
		}
	div.selector.hover, 
	div.selector.focus {
			box-shadow: 0 0 8px -2px #4aa9fe;
			border-collapse: separate;

			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
	}
	div.selector.focus {
		border: 1px solid #6fade4;
		box-shadow: 0 0 8px #4aa9fe;
		border-collapse: separate;
	}
		div.selector.hover span, 
		div.selector.focus span {
			background-position: right -45px;
			background-color: #fff;

			-webkit-transition: background-color 0.3s ease-out;
			-moz-transition: background-color 0.3s ease-out;
			-o-transition: background-color 0.3s ease-out;
			transition: background-color 0.3s ease-out;
		}
		div.selector.hover.active, 
		div.selector.focus.active {}
			div.selector.hover.active span, 
			div.selector.focus.active span {
				background-position: right -71px;
				box-shadow: inset 0 1px 2px #ccc;
				border-collapse: separate;
			}
	div.selector.disabled, 
	div.selector.disabled.active {}
		div.selector.disabled span,
		div.selector.disabled.active span {
			background-position: right -97px;
			color: #aaa;
		}

/* Checkbox */
div.checker {
	position: relative;
}
	div.checker, 
	div.checker span,
	div.checker input {
		width: 20px;
		height: 20px;
	}
	div.checker span {
		display: -moz-inline-box;
		display: inline-block;
		*display: inline;
		zoom: 1;
		text-align: center;
		background-position: -1px -142px;
	}
		div.checker span.checked {
			background-position: -77px -142px;
		}
	div.checker input {
		opacity: 0;
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		border: none;
		background: none;
		display: -moz-inline-box;
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	div.checker.active span {
		background-position: -20px -142px;
	}
		div.checker.active span.checked {
			background-position: -96px -142px;
		}
	div.checker.hover span {
		background-position: -37px -142px;
	} 
	div.checker.focus span {
		background-position: -57px -142px;
	}
		div.checker.hover span.checked, 
		div.checker.focus span.checked {
			background-position: -113px -142px;
		}
	div.checker.hover.active span, 
	div.checker.focus.active span {
		background-position: -57px -142px;
	}
		div.checker.hover.active span.checked, 
		div.checker.focus.active span.checked {
			background-position: -133px -142px;
		}
	div.checker.disabled span, 
	div.checker.disabled.active span {
		background-position: -153px -142px;
	}
		div.checker.disabled span.checked, 
		div.checker.disabled.active span.checked {
			background-position: -172px -142px;
		}

/* Radio */
div.radio {
	position: relative;
}
	div.radio, div.radio span, 
	div.radio input {
		width: 20px;
		height: 20px;
	}
	div.radio span {
		display: -moz-inline-box;
		display: inline-block;
		*display: inline;
		zoom: 1;
		text-align: center;
		background-position: -1px -171px;
	}
		div.radio span.checked {
			background-position: -77px -171px;
		}
	div.radio input {
		opacity: 0;
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		border: none;
		background: none;
		display: -moz-inline-box;
		display: inline-block;
		*display: inline;
		zoom: 1;
		text-align: center;
	}
	div.radio.active span {
		background-position: -17px -171px;
	}
		div.radio.active span.checked {
			background-position: -92px -171px;
		}
	div.radio.hover span, 
	div.radio.focus span {
		background-position: -37px -171px;
	}
		div.radio.hover span.checked, 
		div.radio.focus span.checked {
			background-position: -113px -171px;
		}
	div.radio.hover.active span, 
	div.radio.focus.active span {
		background-position: -57px -171px;
	}
		div.radio.hover.active span.checked,
		div.radio.focus.active span.checked {
			background-position: -133px -171px;
		}
	div.radio.disabled span, 
	div.radio.disabled.active span {
		background-position: -153px -171px;
	}
		div.radio.disabled span.checked, 
		div.radio.disabled.active span.checked {
			background-position: -172px -171px;
		}
